
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tablo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        table {
            width: 100%;
            margin-bottom: 1rem;
            color: #212529;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }

        thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
        }

        tbody + tbody {
            border-top: 2px solid #dee2e6;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Bootstrap Tablo Örneği</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Kategori Adı</th>
                    <th scope="col">Açıklama</th>
                    <th scope="col">Durum</th>
                    <th scope="col">Güncelle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Eğitim</td>
                    <td>Açıklama yapıldı.</td>
                    <td>True</td>
                    <td><button class="btn btn-outline-primary">Güncelle</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Spor</td>
                    <td>Açıklama yapıldı.</td>
                    <td>True</td>
                    <td><button class="btn btn-outline-primary">Güncelle</button></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Kitap</td>
                    <td>Açıklama yapıldı.</td>
                    <td>True</td>
                    <td><button class="btn btn-outline-primary">Güncelle</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Spor</td>
                    <td>Açıklama bekleniyor.</td>
                    <td>True</td>
                    <td><button class="btn btn-outline-primary">Güncelle</button></td>
                </tr>

            </tbody>
        </table>
        <button class="btn btn-primary">Yeni Kategori</button>
        <button class="btn btn-warning">Kategori Listesi</button>
        <button class="btn btn-info">Kategori Açıklamaları</button>
    </div>
</body>
</html>
