@using EntityLayer.Concrete
@model Message

<section class="contact py-lg-5 py-md-5 py-3" id="contact">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5 py-3">
            <h4 class="sub-tittle-w3 text-uppercase text-center">İLETİŞİM</h4>
            <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center text-white">İLETİŞİM BİLGİLERİ</h3>
            <div class="contact_grid_right">
                <form method="post">
                    <div class="row contact_left_grid">
                        <div class="col-md-6 con-left" data-aos="fade-up">
                            <div class="form-group">
                                <input class="form-control" type="text" name="Name" placeholder="İsim Soyisim" required="">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="email" name="SenderMail" placeholder="E-Posta" required="">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="Subject" placeholder="Subject" required="">
                            </div>
                        </div>
                        <div class="col-md-6 con-right" data-aos="fade-up">
                            <div class="form-group">
                                <textarea id="textarea" name="MessageContent" placeholder="Yorumunuz..." required=""></textarea>
                            </div>
                        </div>
                        <div class="sub-honey mx-auto mt-3">
                            <input class="form-control" type="submit" value="Gönder">
                        </div>
                    </div>
                </form>
            </div>
            <div class="address row mt-lg-5">
                <div class="col-md-4 address-grid" data-aos="flip-up">
                    <div class="address-info">
                        <div class="address-left text-center">
                            <i class="far fa-map"></i>
                        </div>
                        <div class="address-right text-center">
                            <h6 class="my-3">Adres</h6>
                            <p>
                                İstanbul
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 address-grid" data-aos="flip-up">
                    <div class="address-info">
                        <div class="address-left text-center">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="address-right text-center">
                            <h6 class="my-3">Email</h6>
                            <p>
                                Email :
                                <a href="mailto:example@email.com"> yusufeminirki@gmail.com</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 address-grid" data-aos="flip-up">
                    <div class="address-info">
                        <div class="address-left text-center">
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                        <div class="address-right text-center">
                            <h6 class="my-3">Linkedin</h6>
                            <p>Yusuf Emin IRKI</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>