
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Burası Title</title>
</head>
<body>
    <div>
        <p>Burası Layouttur.</p>
    </div>
    @RenderBody()
</body>
</html>
