@model EntityLayer.Concrete.Admin

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MVC Kamp Login</title>
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/login-form/dist/style.css">
</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="login-box">
        <h2>MVC Proje Kampı Admin Girişi</h2>
        <form method="post" action="/Login/Index">
            <div class="user-box">
                <input type="text" name="UserName" required="">
                <label>Kullanıcı Adı</label>
            </div>
            <div class="user-box">
                <input type="password" name="Password" required="">
                <label>Şifre</label>
            </div>
            <button type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                GİRİŞ YAP!
            </button>
        </form>
    </div>
    <!-- partial -->
</body>
</html>